<!-- Faqs -->
<meta name="description" property="og:description" content="فعالیت های شرکت اتوماسیون صنعتی آریانا">
<meta name="keywords" content="تعمیرات، آموزش ربات، آموزش اتوماسیون صنعتی، برنامه نویسی، رباتیک, robotic, programming,training, automation, maintenance ">
<section class="faqs section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12">
                <div class="faqs-main m-top-30">
                    <div class="row">
                        <div class="col-11">
                            <div id="accordion" role="tablist">
                                <!-- Single Faq -->
                                <div class="single-faq">
                                    <div class="faq-heading" role="tab" id="faq1">
                                        <h4 class="faq-title">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                               aria-controls="collapseOne">
                                                <i class="fa fa-pencil"></i> بخش اتوماسیون صنعتی
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="faq1"
                                         data-parent="#accordion">
                                        <div class="faq-body">
                                            <p>شرکت اتوماسیون صنعتی آریانا که از بدو تاسیس خود در زمینه اتوماسیون صنعتی
                                                و خدمات رباتیک پا به عرصه میدان صنعت گذاشت و با ارايه خدمات مشاوره در
                                                زمينه هاي اتوماسيون صنعتي ( رباتیک ، مکاترونیک ، هیدرولیک ، پنوماتیک و
                                                PLC )چندین پروژه خاص اتوماسیون صنعتی را در کشور برای اولین بار اجراء
                                                نمود و در حال حاضر این شرکت جزء شرکت های دانش بنیان و مورد تایید نهاد
                                                شرکت های دانش بنیان می باشد و تا کنون چندین کالای دانش بنیان ثبت و تایید
                                                شده در کارنامه خود دارد که از این تعداد سه کالای دانش بنیان در زمینه
                                                اتوماسیون صنعتی به شرح زیر می باشد .

                                            <p>1. تولید نرم افزار مانیتورینگ رباتهای رنگ</p>
                                            <p>2. تولید نرم افزار مانیتورینگ سیستم های RODIP3</p>
                                            <p>3. تولید کوره تست تجهیزات ساختمانی</p>
                                            <p> و همچنین این شرکت در زمینه اتوماسیون صنعتی تا کنون پروژه های زیادی را
                                                اجرا نموده که برخی از آنها عبارتند از :
                                            </p>
                                            <p>
                                                • راه اندازي سيستم مانيتورنگ رباتهاي رنگ انواع شرکت های خودرو سازی
                                            </p>
                                            <p>
                                                • برنامه نويسي و تغيير و ارتقاء برنامه PLC از S5 به S7 رباتهای رنگ شرکت
                                                sames
                                            </p>
                                            <p>
                                                • ساخت سیستم رزرو ربات های پاشش رنگ شرکت های خودرو ساز
                                            </p>
                                            <p>
                                                • طراحی و اجرای پروژه مانیتورینگ سیستم های Rodip
                                            </p>
                                            <p>
                                                • انجام پروژه افزایش ظرفیت خط PT&ED گروه خودروسازی سایپا
                                            </p>
                                            <p>
                                                • طراحي و ساخت سيستم تعويض رنگ اتوماتيك خودرو سازی
                                            </p>
                                            <p>
                                                • برنامه نويسي و ارتقاء برنامه PLC SIMENS از S5 به S7
                                            </p>
                                            <p>
                                                مهمترین مشتریان این شرکت در زمینه اتوماسیون صنعتی عبارتند از شرکت های
                                                سایپا ، پارس خودرو ، بهمن موتور ، بن رو ، سایپا سیترون ، پلاسکو کار ،
                                                مهرکام پارس ، گروه مرتب ، شرکت نفت و .... می باشد.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Faq -->
                                <!-- Single Faq -->
                                <div class="single-faq">
                                    <div class="faq-heading" role="tab" id="faq2">
                                        <h4 class="faq-title">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                               aria-expanded="true" aria-controls="collapseTwo">
                                                <i class="fa fa-pencil"></i> بخش آموزش
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="faq2"
                                         data-parent="#accordion">
                                        <div class="faq-body">
                                            <p>شرکت اتوماسیون صنعتی در زمينه آموزش با عقد قرار داده هاي آموزشي به توسعه
                                                علمي صنايع پرداخته و چندين دوره آموزشي خاص را برگزار نموده است که خدمات
                                                ارایه شده در این شرکت قابل رقابت با شركت هاي بنام خارجي است .</p>

                                            <p>
                                                آموزشهاي تخصصی ارايه شده توسط اساتيد و متخصصان اين شرکت بیش از 5000 ساعت
                                                در دوره های آموزشی به شرح زیر :
                                            </p>

                                            <p>
                                                • دوره آموزشی برنامه نویس PLC مقدماتی و پیشرفته
                                            </p>
                                            <p>
                                                • دوره های آموزشی استقرار سیستم های مانیتورینگ
                                            </p>
                                            <p>
                                                • دوره آموزشی شبکه های صنعتی PLC
                                            </p>
                                            <p>
                                                • دوره آموزشی برنامه نويسي و PROGRAMING رباتهاي صنعتي
                                            </p>
                                            <p>
                                                • دوره آموزشی مقدماتی و پیشرفته TEACH انواع رباتها DURR –ABB-MOTOMAN
                                                –B&M-KOKA
                                            </p>
                                            <p>
                                                • دوره آموزشی نرم افزار مانتورينگ WINCC مقدماتی و پیشرفته
                                            </p>
                                            <p>
                                                • دوره آموزشی عیوب رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی رفع مشکلات کیفی رنگ توسط رباتهای رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی پنئوماتیک رباتهای رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنایی با تجهیزات مختلف ربات
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنایی با تجهیزات پاشش رباتهای رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی TERACH رباتها با استفاده از نرم افزار ROBCAT
                                            </p>
                                            <p>
                                                • دوره آموزشی TERACH رباتها با استفاده از نرم افزار 3D ONSITE
                                            </p>
                                            <p>
                                                • دوره آموزشی نقشه خوانی الکتریکی رباتها
                                            </p>
                                            <p>
                                                • دوره آموزشی نقشه خوانی پنئوماتیک رباتها
                                            </p>
                                            <p>
                                                • دوره آموزشی برق صنعتي پیشرفته
                                            </p>
                                            <p>
                                                • دوره آموزشی درايو و كنترلر هاي صنعتي
                                            </p>
                                            <p>
                                                • دوره آموزشی شناخت و تعميرات اجزاء‌ مكانيكال رباتهاي پاشش رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی عيوب رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی سيستمهاي رباتيك
                                            </p>
                                            <p>
                                                • دوره آموزشی كوره هاي صنعتي سالن های رنگ
                                            </p>
                                            <p>
                                                • دوره آموزشی كانواير خطوط تولید
                                            </p>
                                            <p>
                                                • دوره آموزشی هواسازهاي صنعتي
                                            </p>
                                            <p>
                                                • دوره آموزشی EPLAN
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنايي با ربات
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنايي با عيوب رنگ سيستم هاي اتوماتيك و رفع آنها
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنايي با پودر كننده هاي صنعتي الكترو استاتيك
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنايي با اصول كلي اعمال ماده پوششي و رنگ آميزي با ماشين
                                                پاشش و ربات در صنايع خودرو سازي
                                            </p>
                                            <p>
                                                • دوره آموزشی راهبري ربات ها و ماشين هاي پاشش رنگ (‌اپراتوري )
                                            </p>
                                            <p>
                                                • دوره آموزشی آشنايي با تعميرات سيستم هاي پاشش اتوماتيك
                                            </p>
                                            <p>
                                                • دوره آموزشی نگهداري و تعميرات و شناخت اصول و مفاهيم كاربردي در صنعت
                                                دوره
                                                آموزشی آشنايي با روانكار هاي صنعتي و روش انتخاب آنها
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Faq -->
                                <!-- Single Faq -->
                                <div class="single-faq">
                                    <div class="faq-heading" role="tab" id="faq3">
                                        <h4 class="faq-title">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                               aria-expanded="true" aria-controls="collapseThree">
                                                <i class="fa fa-pencil"></i> دپارتمان تعمیرات
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="faq3"
                                         data-parent="#accordion">
                                        <div class="faq-body">
                                            <p>شرکت اتوماسیون صنعتی آریانا در سال 1390 به كارگاه تعمير قطعات الكترونيكي
                                                و مكانيكي مجهز گرديد و تا کنون هزاران قطعه صنایع خاص را تعمیر نمود که در
                                                زیر به برخی از خدمات تعمیراتی این شرکت اشاره شده است .
                                            </p>
                                            <p>
                                                • تعمیر TEACH PENDANTE ربات هاي DURR ،ABB ، YASKAWA و ....
                                            </p>
                                            <p>
                                                • تعميرات قطعات يدكي الكتريكال ( برد هاي plc خاص – سيستمهاي رباتيك – برد
                                                هاي plc هاي Siemens - KuKA - TOSHIBA و ... )
                                            </p>
                                            <p>
                                                • تعميرات قطعات درايو هاي صنعتي وات بالا و پایین
                                            </p>
                                            <p>
                                                • تعمیر و راه اندازي انواع سيستم کنترلی TOCH PANEL
                                            </p>
                                            <p>
                                                • تعمير سيستمها و ماشين آلات تزريق پلاستيك
                                            </p>
                                            <p>
                                                • تعمیر انواع دستگاههای ضخامت سنج
                                            </p>
                                            <p>
                                                • تعمیر انواع دستگاههای دیتا پک و اندازه گیری گراف کوره
                                            </p>
                                            <p>
                                                • تعمیر انواع دستگاههای زبری سنج
                                            </p>
                                            <p>
                                                • تعمیر انواع دستگاههای براقیت سنج
                                            </p>
                                            <p>
                                                • تعمیر انواع دستگاههای شیب سنج
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Faq -->
                                <!-- Single Faq -->
                                <div class="single-faq">
                                    <div class="faq-heading" role="tab" id="faq4">
                                        <h4 class="faq-title">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseFour"
                                               aria-expanded="true" aria-controls="collapseFour">
                                                <i class="fa fa-pencil"></i> تیم برنامه نویسی

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="faq4"
                                         data-parent="#accordion">
                                        <div class="faq-body">
                                            <p>شرکت اتوماسیون صنعتی آریانا در زمينه تولید نرم افزارها نيز توانست چند نرم
                                                افزار نگهداري و تعميرات ، نرم افزار هاي انبار داري و سيستم هاي اتوماسيون
                                                و مانيتورينگ را بصورت كاملا" داخلي تهيه و در اختيار صنايع قرار دهد .

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Faq -->
                                <!-- Single Faq -->
                                <div class="single-faq">
                                    <div class="faq-heading" role="tab" id="faq5">
                                        <h4 class="faq-title">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseFive"
                                               aria-expanded="true" aria-controls="collapseFive">
                                                <i class="fa fa-pencil"></i> دپارتمان رباتیک
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="faq5"
                                         data-parent="#accordion">
                                        <div class="faq-body">
                                            <p>شرکت اتوماسیون صنعتی آریانا که از بدو تاسیس خود در زمینه اتوماسیون صنعتی
                                                و خدمات رباتیک پا به عرصه میدان صنعت گذاشت و با ارايه خدمات مشاوره در
                                                زمينه هاي اتوماسيون صنعتي ( رباتیک ، مکاترونیک ، هیدرولیک ، پنوماتیک و
                                                PLC )چندین پروژه خاص اتوماسیون صنعتی را در کشور برای اولین بار اجراء
                                                نمود و در حال حاضر این شرکت جزء شرکت های دانش بنیان و مورد تایید نهاد
                                                شرکت های دانش بنیان می باشد و تا کنون چندین کالای دانش بنیان ثبت و تایید
                                                شده در کارنامه خود دارد
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Faq -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row service-space">
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Service Feature -->
                        <div class="small-list-feature">
                            <ul>
                                <li><i class="fa fa-check"></i>انواع خدمات برنامه نویسی</li>
                                <li><i class="fa fa-check"></i>انواع خدمات تعمیرات تخصصی</li>
                                <li><i class="fa fa-check"></i> ساخت قطعات خاص الکترونیک</li>
                                <li><i class="fa fa-check"></i> انواع برنامه نویسی پی ال سی</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="small-list-feature">
                            <ul>
                                <li><i class="fa fa-check"></i> تعمیر انواع ربات</li>
                                <li><i class="fa fa-check"></i>راه اندازی انواع خطوط رباتیک</li>
                                <li><i class="fa fa-check"></i>تعمیر انواع درایوهای صنعتی</li>
                                <li><i class="fa fa-check"></i>تعمیر دستگاههای ابزار دقیق</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-5 col-md-5 col-12">
                {% for best_activities in best_activities %}
                <div class="about-content section-title default text-left">
                    <div class="section-top">
                        <h1><span>{{best_activities.short_title}}</span><b>{{best_activities.title}}</b></h1>
                    </div>
                    <div class="section-bottom">

                        <div class="text">
                            <p>{{best_activities.text|linebreaks}}</p>

                        </div>

                        <!--                        <div class="button">-->
                        <!--                            <a href="#" class="bizwheel-btn theme-2">آثار ما<i class="fa fa-angle-left"></i></a>-->
                        <!--                        </div>-->

                    </div>

                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>
<!--/ End Faqs -->