<!-- Portfolio -->
<meta name="description" property="og:description" content="خدمات شرکت اتوماسیون صنعتی آریانا">
<meta name="keywords" content="اتوماسیون صنعتی، خدمات شرکت، مشاوره، کالا دانش بنیان، دانش بنیان">
<section class="portfolio section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="section-title default text-center">
                    <div class="section-top">
                        <h1><span>خدمات شرکت ا توماسیون صنعتی آریانا</span><b>خدمات این شرکت به چهار بخش اصلی زیر
                            تقسیم
                            می شود :</b></h1>
                    </div>
                    {#                        <div class="section-bottom">#}
                    {#                            <div class="text">#}
                    {#                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان#}
                    {#                                    گرافیک#}
                    {#                                    است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="portfolio-menu">
                    <!-- Portfolio Nav -->
                    <ul id="portfolio-nav" class="portfolio-nav tr-list list-inline cbp-l-filters-work">
                        {#                            <li data-filter="*" class="cbp-filter-item active">همه</li>#}
                        <li data-filter=".animation" class="cbp-filter-item ">پروژه ها</li>
                        <li data-filter=".branding" class="cbp-filter-item">خدمات مشاوره</li>
                        <li data-filter=".business" class="cbp-filter-item">کالای دانش بنیان</li>
                        <li data-filter=".consulting" class="cbp-filter-item">محصولات</li>
                        <li data-filter=".marketing" class="cbp-filter-item">بازار یابی</li>
                        <li data-filter=".seo" class="cbp-filter-item">سئو</li>
                    </ul>
                    <!--/ End Portfolio Nav -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="portfolio-main">
                    <div id="portfolio-item" class="portfolio-item-active">

                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/electrical.png" alt="electrical image">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">طراحي و راه اندازي سيستم کنترل الكتريكال
                                        كوره هاي صنعتی
                                    </a></h4>
                                    {#                                        <p>این شرکت تا کنون چندین پروژه طراحی و راه اندازی سیتم کنترل الکتریک کوره های#}
                                    {#                                            صنعتی شرکت های مختلف را انجام داده است .#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/pashesh.png" alt="ربات پاشش رنگ">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">ساخت سیستم رزرو ربات های پاشش رنگ</a></h4>
                                    {#                                        <p>این شرکت تا کنون چندین سیستم رزرو ربات های پاشش رنگ را ساخته و در اختیار شرکت#}
                                    {#                                            های خودرو ساز قرار داده است .#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/tazrigh pel.png" alt='pels image'>
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">تعمير ماشين آلات تزريق پلاستيك</a></h4>
                                    {#                                        <p>از پروژه های دیگر این شرکت به راه اندازی و تعمیر سیستم ها و ماشین آلات تزریق#}
                                    {#                                            پلاستیک می توان اشاره نمود .#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/pashesh2.png" alt="ربات پاشش">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">داخلی سازی لوازم رباتهاي پاشش رنگ</a></h4>
                                    {#                                        <p>این شرکت به طور مستمر در زمینه ساخت و داخلی سازی قطعات خاص رباتها فعالیت#}
                                    {#                                            داشته و تا کنون چندین قطعه خاص رباتها را ساخته و در اختیار صنایع قرارداده#}
                                    {#                                            است .#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>

                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/monitoring.png" alt="ربات مانیتورینگ">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">راه اندازي سيستم مانيتورنگ رباتهاي رنگ</a>
                                    </h4>
                                    {#                                        <p>این شرکت تا کنون چندین پروژه راه اندازی سیستم های مانیتورینگ رباتهای رنگ شرکت#}
                                    {#                                            های خودرو ساز به نام را انجام داده و باعث راه اندازی خط تولید آن شرکت ها شده#}
                                    {#                                            است .#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->

                        </div>
                        <div class="cbp-item business animation">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/services/yhickness.png" alt="ضخامت سنج">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">طراحي و ساخت شابلون ضخامت سنج</a></h4>
                                    {#                                        <p>طراحی و ساخت شابلون و نرم افزار ضخامت سنجی سنگین و کنترل کیفیت محصولات خودرو#}
                                    {#                                            در شرکت های خودر وساز.#}
                                    {#                                        </p>#}
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        {#                            ......................................................................................................#}
                        <div class="cbp-item seo consulting">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/portfolio/portfolio-2.jpg" alt="portfolio">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>


                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">بازاریابی خلاق</a></h4>
                                    <p>مارک ، مشاوره</p>
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item marketing seo">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/portfolio/portfolio-3.jpg" alt="portfolio">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">بازاریابی خلاق</a></h4>
                                    <p>مارک ، مشاوره</p>
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item branding">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/portfolio/portfolio-4.jpg" alt="portfolio">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">بازاریابی خلاق</a></h4>
                                    <p>مارک ، مشاوره</p>
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item branding consulting">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/portfolio/portfolio-5.jpg" alt="portfolio">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">بازاریابی خلاق</a></h4>
                                    <p>مارک ، مشاوره</p>
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                        <div class="cbp-item business marketing">
                            <!-- Single Portfolio -->
                            <div class="single-portfolio">
                                <div class="portfolio-head overlay">
                                    <img src="/static/img/portfolio/portfolio-6.jpg" alt="portfolio">
                                    <a class="more" href="portfolio-single.html"><i
                                            class="fa fa-long-arrow-left"></i></a>
                                </div>
                                <div class="portfolio-content">
                                    <h4><a href="portfolio-single.html">بازاریابی خلاق</a></h4>
                                    <p>مارک ، مشاوره</p>
                                </div>
                            </div>
                            <!--/ End Single Portfolio -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Portfolio -->