{% extends 'shared/_layout.html' %}

{% block title %}
    تماس با ما
{% endblock %}

{% block content %}




    <!-- Contact Us -->
    <section class="contact-us section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-12">
                    <!-- Contact Form -->
                    <div class="contact-form-area m-top-30">
                        <h4>با ما در تماس باشید</h4>
                        <form class="form" method="post" action="{% url 'contact_us_page' %}">
                            {% csrf_token %}

                            <div class="alert alert-success contact_msg" style="display: none" role="alert">

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-user"></i></div>
                                        {#                                        <input type="text" name="first_name" placeholder="نام">#}
                                        {{ form.full_name.label_tag }}
                                        {{ form.full_name }}
                                        {{ form.full_name.errors }}
                                    </div>

                                </div>
                                {#                                <div class="col-lg-6 col-md-6 col-12">#}
                                {#                                    <div class="form-group">#}
                                {#                                        <div class="icon"><i class="fa fa-user"></i></div>#}
                                {#                                        <input type="text" name="last_name" placeholder="نام خانوادگی">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-envelope"></i></div>
                                        {#<input type="email" name="email" placeholder="ایمیل را وارد کنید">#}
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {{ form.email.errors }}
                                    </div>
                                </div>
                                <div class=" col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-tag"></i></div>
                                        {#                                        <input type="text" name="subject" placeholder="موضوع را تایپ کنید">#}
                                        {{ form.title.label_tag }}
                                        {{ form.title }}
                                        {{ form.title.errors }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group textarea">
                                        <div class="icon"><i class="fa fa-pencil"></i></div>
                                        {#                                        <textarea type="textarea" name="message" rows="5"></textarea>#}
                                        {{ form.message.label_tag }}
                                        {{ form.message }}
                                        {{ form.message.errors }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="bizwheel-btn theme-2">ارسال</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/ End contact Form -->
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="contact-box-main m-top-30">
                        <div class="contact-title">
                            <h2>با ما تماس بگیرید</h2>
                            <p>{{site_setting.about_us_text}}</p>
                        </div>
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="c-text">
                                <h4>ساعت کار</h4>
                                <p>جمعه - شنبه<br>9 صبح تا 17:00 بعدازظهر</p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-phone"></i></div>
                            <div class="c-text">
                                <h4>اکنون با ما تماس بگیرید</h4>
                                <p> تلفن:  {{ site_setting.fax }}  <br></p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-envelope-o"></i></div>
                            <div class="c-text">
                                <h4>ایمیل</h4>
                                <p>{{ site_setting.email }}</p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
{#                        <div class="button">#}
{#                            <a href="#" class="bizwheel-btn theme-1">آثار ما<i class="fa fa-angle-right"></i></a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Contact Us -->

    <!-- Google Map -->
    <div class="contact-map">
        <div id="myMap" class="map"></div>
    </div>
    <!--/ End Google Map -->
{% endblock %}