<!DOCTYPE html>
{% load render_partial %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="شرکت اتوماسیون صنعتی آریانا(دانش بنیان) - Maintenance and Industrial Automation">
    <meta name="author" content="robot, kuka, kuka robot, maintenance,programming, python, c#, used robot, automation, industry, اتوماسیون صنعتی، صنعت، کوکا، ربات کوکا، ربات صنعتی، آموزش، آموزش ربات، اتوماسیون صنعتی آریانا، دانش بنیان">
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_references.html' %}
</head>
<body>
{% render_partial 'home_module.views.site_header_component' %}
{% block content %}{% endblock %}
{% render_partial 'home_module.views.site_footer_component' %}
{% include 'shared/footer_references.html' %}

</body>
</html>