<!-- End Boxed Layout -->

<!-- Jquery JS -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-migrate-3.0.0.js"></script>
<!-- Popper JS -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Modernizr JS -->
<script src="/static/js/modernizr.min.js"></script>
<!-- ScrollUp JS -->
<script src="/static/js/scrollup.js"></script>
<!-- FacnyBox JS -->
<script src="/static/js/jquery-fancybox.min.js"></script>
<!-- Cube Portfolio JS -->
<script src="/static/js/cubeportfolio.min.js"></script>
<!-- Slick Nav JS -->
<script src="/static/js/slicknav.min.js"></script>
<!-- Way Points JS -->
<script src="/static/js/waypoints.min.js"></script>
<!-- CounterUp JS -->
<script src="/static/js/jquery.counterup.min.js"></script>
<!-- Slick Nav JS -->
<script src="/static/js/slicknav.min.js"></script>
<!-- Slick Slider JS -->
<script src="/static/js/owl-carousel.min.js"></script>
<!-- Easing JS -->
<script src="/static/js/easing.js"></script>
<!-- Theme Option JS -->
<script src="/static/js/theme-option.js"></script>
<!-- Magnipic Popup JS -->
<script src="/static/js/magnific-popup.min.js"></script>
<!-- Active JS -->
<script src="/static/js/active.js"></script>